@charset "UTF-8";
* {
  margin: 15px;
}

/*Importación*/
/*Graientes*/
/*Ejemplo 1*/
/*Creación de variables*/
/*Variables if*/
/*Bucle Each*/
/*Mapas*/
@font-face {
  font-family: DM-sans-Regular;
  src: url(../fuentes/DMSans-Regular.ttf);
}
@font-face {
  font-family: DM-sans-Bold;
  src: url(../fuentes/DMSans-Bold.ttf);
}
nav {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a:hover {
  color: black;
  font-weight: bolder;
  font-size: 21px;
}

.links {
  display: flex;
  font-family: DM-sans-Regular;
  color: rgb(112, 112, 112);
  font-size: 20px;
  font-weight: bold;
  text-decoration-line: none;
}

#grid {
  display: grid;
  grid-template-areas: "img1       titulo1" "img1       texto1" "titulo2    img2" "texto2     img2" "img3      titulo3" "img3       texto3";
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(600px);
}

.titulo-1 {
  grid-area: titulo1;
  display: flex;
  justify-content: center;
  align-items: end;
}

.texto-1 {
  grid-area: texto1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
}

.img-1 {
  grid-area: img1;
  justify-self: start;
}

.titulo-2 {
  grid-area: titulo2;
  display: flex;
  justify-content: center;
  align-items: end;
}

.texto-2 {
  grid-area: texto2;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-right: 20px;
}

.img-2 {
  grid-area: img2;
  justify-self: end;
}

.img-3 {
  grid-area: img3;
  justify-self: start;
}

.titulo-3 {
  grid-area: titulo3;
  display: flex;
  justify-content: center;
  align-items: end;
}

.texto-3 {
  grid-area: texto3;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 20px;
}

h1 {
  color: rgb(104, 104, 104);
  text-align: center;
  font-family: DM-sans-Bold;
}

#grid-2 {
  display: grid;
  grid-template-areas: "contacto   contacto" "input      logo" "mens       datos" "mens       datos" "mens       datos" "bot        redes";
  grid-template-columns: 600px 600px;
  grid-template-rows: repeat(1fr);
}

#form {
  grid-area: input;
}

.contacto {
  grid-area: contacto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.nombre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-end: 60%;
}

.telefono {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-end: 60%;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-end: 60%;
}

.mensaje {
  grid-area: mens;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-inline-start: 10%;
}

.boton {
  grid-area: bot;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-top: 10px;
}

.logo-1 {
  grid-area: logo;
  display: flex;
  justify-self: center;
  align-self: center;
}

.mail-2 {
  grid-area: datos;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10px;
}

.telefono-2 {
  grid-area: datos;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dire {
  grid-area: datos;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 10px;
}

.insta {
  grid-area: redes;
  display: flex;
  justify-self: start;
  align-self: center;
  padding-left: 150px;
}

.face {
  grid-area: redes;
  display: flex;
  justify-self: end;
  align-self: center;
  padding-right: 150px;
}

p {
  font-family: DM-sans-Regular;
  font-size: 15px;
  color: darkgrey;
}

h3 {
  font-family: DM-sans-Regular;
  font-size: 30px;
  color: darkgrey;
  text-align: center;
}

h2 {
  font-family: DM-sans-Regular;
  font-size: 25px;
  color: black;
}

h4 {
  font-family: DM-sans-Regular;
  color: black;
  font-size: 25px;
  margin-left: 50px;
  padding-top: 50px;
}

.form-contacto {
  padding-left: 100px;
}

.info-contacto {
  padding-left: 900px;
}

.deco {
  padding-left: 200px;
}

#grid01 {
  display: grid;
  grid-template-areas: "tit01" "tit02";
  grid-template-columns: repeat(100%);
  grid-template-rows: repeat(20px);
}

.tit01 {
  grid-area: tit01;
  justify-content: center;
  align-items: center;
}

.tit02 {
  grid-area: tit02;
  justify-content: center;
  align-items: center;
}

#grid1 {
  display: grid;
  grid-template-areas: "tit1   tit1    tit1" "img1   img2    img3";
  grid-template-columns: repeat(30%);
  grid-template-rows: auto;
}

.tit1 {
  grid-area: tit1;
  justify-content: center;
  align-items: center;
}

.img1 {
  grid-area: img1;
  display: flex;
  justify-self: baseline;
}

.img2 {
  grid-area: img2;
  display: flex;
  justify-self: right;
}

.img3 {
  grid-area: img3;
  display: flex;
  justify-self: center;
}

.im {
  height: 600px;
}
.im:hover {
  height: 650px;
}

#grid2 {
  display: grid;
  grid-template-areas: "tit2   tit2" "img4   img5";
  grid-template-columns: repeat(45%);
  grid-template-rows: auto;
}

.tit2 {
  grid-area: tit2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img4 {
  grid-area: img4;
  display: flex;
  justify-self: center;
}

.img5 {
  grid-area: img5;
  display: flex;
  justify-self: center;
}

#grid3 {
  display: grid;
  grid-template-areas: "tit3   tit3    tit3" "img6   img7    img8";
  grid-template-columns: repeat(30%);
  grid-template-rows: auto;
}

.tit3 {
  grid-area: tit3;
  justify-content: center;
  align-items: center;
}

.img6 {
  grid-area: img6;
  display: flex;
  justify-self: center;
}

.img7 {
  grid-area: img7;
  display: flex;
  justify-self: center;
}

.img8 {
  grid-area: img8;
  display: flex;
  justify-self: center;
}

#grid4 {
  display: grid;
  grid-template-areas: "tit4 tit4" "img9 img10";
  grid-template-columns: repeat(45%);
  grid-template-rows: auto;
}

.tit4 {
  grid-area: tit4;
  justify-content: center;
  align-items: center;
}

.img9 {
  grid-area: img9;
  display: flex;
  justify-self: center;
}

.img10 {
  grid-area: img10;
  display: flex;
  justify-self: center;
}

#grid5 {
  display: grid;
  grid-template-areas: "tit5   tit5" "img11  img12";
  grid-template-columns: repeat(45%);
  grid-template-rows: auto;
}

.tit5 {
  grid-area: tit5;
  justify-content: center;
  align-items: center;
}

.img11 {
  grid-area: img11;
  display: flex;
  justify-self: center;
}

.img12 {
  grid-area: img12;
  display: flex;
  justify-self: center;
}

#grid6 {
  display: grid;
  grid-template-areas: "tit6    tit6     tit6" "img13   img14    img15";
  grid-template-columns: repeat(30%);
  grid-template-rows: auto;
}

.tit6 {
  grid-area: tit6;
  justify-content: center;
  align-items: center;
}

.img13 {
  grid-area: img13;
  display: flex;
  justify-self: center;
}

.img14 {
  grid-area: img14;
  display: flex;
  justify-self: center;
}

.img15 {
  grid-area: img15;
  display: flex;
  justify-self: center;
}

#grid-cui {
  display: grid;
  grid-template-areas: "text1   card1" "text2   card2" "text3   card3";
  grid-template-columns: 40% 40%;
  grid-template-rows: repeat(400px);
}

.texto1 {
  grid-area: text1;
  justify-content: start;
  align-items: center;
}

.texto2 {
  grid-area: text2;
  justify-content: start;
  align-items: center;
}

.texto3 {
  grid-area: text3;
  justify-content: start;
  align-items: center;
}

.im1 {
  grid-area: card1;
  display: flex;
  justify-self: center;
}

.im2 {
  grid-area: card2;
  display: flex;
  justify-self: center;
}

.im3 {
  grid-area: card3;
  display: flex;
  justify-self: center;
}

#gridshop1 {
  display: grid;
  grid-template-areas: "tit  tit tit" "a1   a2  a3";
  grid-template-columns: repeat(350px);
  grid-template-rows: auto 600px;
}

.titshop {
  grid-area: tit;
  display: flex;
  justify-content: center;
}

.a1 {
  grid-area: a1;
  display: flex;
  justify-self: center;
  margin: none;
}

.a2 {
  grid-area: a2;
  display: flex;
  justify-self: center;
  margin: none;
}

.a3 {
  grid-area: a3;
  display: flex;
  justify-self: center;
  margin: none;
}

#gridshop2 {
  display: grid;
  grid-template-areas: "tit  tit tit" "a4   a5  a6";
  grid-template-columns: repeat(350px);
  grid-template-rows: auto 600px;
}

.titshop2 {
  grid-area: tit;
  display: flex;
  justify-content: center;
}

.a4 {
  grid-area: a4;
  display: flex;
  justify-self: center;
  margin: none;
}

.a5 {
  grid-area: a5;
  display: flex;
  justify-self: center;
  margin: none;
}

.a6 {
  grid-area: a6;
  display: flex;
  justify-self: center;
  margin: none;
}

#gridshop3 {
  display: grid;
  grid-template-areas: "tit  tit tit" "a7   a8  a9";
  grid-template-columns: repeat(350px);
  grid-template-rows: auto 600px;
}

.titshop3 {
  grid-area: tit;
  display: flex;
  justify-content: center;
}

.a7 {
  grid-area: a7;
  display: flex;
  justify-self: center;
  margin: none;
}

.a8 {
  grid-area: a8;
  display: flex;
  justify-self: center;
  margin: none;
}

.a9 {
  grid-area: a9;
  display: flex;
  justify-self: center;
  margin: none;
}

@media screen and (max-width: 992px) {
  * {
    margin: 5px;
  }
  .navbar {
    display: none;
  }
  .text-center {
    height: 80px;
    display: flex;
    justify-content: end;
  }
  #grid {
    display: grid;
    grid-template-areas: "titulo-1" "img-1" "texto-1" "titulo-2" "img-2" "texto-2" "titulo-3" "img-3" "texto-3";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .titulo-1 {
    grid-area: titulo-1;
    justify-content: center;
    align-items: center;
  }
  .titulo-2 {
    grid-area: titulo-2;
    justify-content: center;
    align-items: center;
  }
  .titulo-3 {
    grid-area: titulo-3;
    justify-content: center;
    align-items: center;
  }
  .texto-1 {
    grid-area: texto-1;
    justify-content: center;
    align-items: center;
  }
  .texto-2 {
    grid-area: texto-2;
    justify-content: center;
    align-items: center;
  }
  .texto-3 {
    grid-area: texto-3;
    justify-content: center;
    align-items: center;
  }
  .img-1 {
    grid-area: img-1;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img-2 {
    grid-area: img-2;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img-3 {
    grid-area: img-3;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  #grid-2 {
    display: inline;
    justify-self: center;
    width: 90%;
  }
  .nombre {
    width: 90%;
  }
  .telefono {
    width: 90%;
  }
  .mail {
    width: 90%;
  }
  .boton {
    width: 90%;
  }
  .mensaje {
    width: 90%;
  }
  .insta {
    display: block;
  }
  .logo-1 {
    justify-self: center;
    padding-top: 15px;
  }
  #grid-cui {
    display: inline;
    width: 80%;
  }
  .im1 {
    height: min-content;
    width: 80%;
  }
  .im2 {
    height: min-content;
    width: 80%;
  }
  .im3 {
    height: min-content;
    width: 80%;
  }
  .texto2 {
    padding-top: 30px;
  }
  .texto3 {
    padding-top: 30px;
  }
  h1 {
    padding-top: 30px;
    justify-content: center;
  }
  h4 {
    justify-content: center;
  }
  h3 {
    justify-content: center;
  }
  .logo-1 {
    display: flex;
    justify-self: center;
  }
  .insta {
    display: flex;
    justify-self: center;
  }
  .face {
    display: flex;
    justify-self: center;
  }
  #grid1 {
    display: grid;
    grid-template-areas: "tit1 tit1" "img1 img2" "img3 img3";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit1 {
    grid-area: tit1;
    justify-content: center;
    align-items: center;
  }
  .img1 {
    grid-area: img1;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  .img2 {
    grid-area: img2;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  .img3 {
    grid-area: img3;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  #grid3 {
    display: grid;
    grid-template-areas: "tit3 tit3" "img6 img7" "img8 img8";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit3 {
    grid-area: tit3;
    justify-content: center;
    align-items: center;
  }
  .img6 {
    grid-area: img6;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  .img7 {
    grid-area: img7;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  .img8 {
    grid-area: img8;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  #grid6 {
    display: grid;
    grid-template-areas: "tit6 tit6" "img13 img14" "img15 img15";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit6 {
    grid-area: tit6;
    justify-content: center;
    align-items: center;
  }
  .img13 {
    grid-area: img13;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  .img14 {
    grid-area: img14;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  .img15 {
    grid-area: img15;
    justify-self: center;
    align-items: center;
    width: 400px;
  }
  #gridshop1 {
    display: grid;
    grid-template-areas: "titshop  titshop" "mac1     mac2" "mac3     mac3";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .titshop {
    grid-area: titshop;
    justify-content: center;
    align-items: center;
  }
  .maceta-1 {
    grid-area: mac1;
    justify-self: center;
    width: 45%;
  }
  .maceta-2 {
    grid-area: mac2;
    justify-self: center;
    width: 45%;
  }
  .maceta-3 {
    grid-area: mac3;
    justify-self: center;
    width: 45%;
  }
  #gridshop2 {
    display: grid;
    grid-template-areas: "titshop2  titshop2" "mueb1     mueb2" "mueb3     mueb3";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .titshop2 {
    grid-area: titshop2;
    justify-content: center;
    align-items: center;
  }
  .mueble-1 {
    grid-area: mueb1;
    justify-self: center;
    width: 45%;
  }
  .mueble-2 {
    grid-area: mueb2;
    justify-self: center;
    width: 45%;
  }
  .mueble-3 {
    grid-area: mueb3;
    justify-self: center;
    width: 45%;
  }
  #gridshop3 {
    display: grid;
    grid-template-areas: "titshop3  titshop3" "dec1       dec2" "dec3       dec3";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .titshop3 {
    grid-area: titshop3;
    justify-content: center;
    align-items: center;
  }
  .decoracion-1 {
    grid-area: dec1;
    justify-self: center;
    width: 45%;
  }
  .decoracion-2 {
    grid-area: dec2;
    justify-self: center;
    width: 45%;
  }
  .decoracion-3 {
    grid-area: dec3;
    justify-self: center;
    width: 45%;
  }
  .block {
    display: block;
  }
  .izq {
    display: inline;
    padding-left: 0px;
    justify-content: start;
  }
  .im {
    width: 950px;
  }
}
img {
  animation-duration: 3s;
  animation-name: slide;
  animation-iteration-count: 1;
}

@keyframes slide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .text-center {
    height: 100px;
  }
}
@media screen and (max-width: 410px) {
  * {
    margin: 5px;
    display: inline;
  }
  .texto-1 {
    padding: none;
  }
  .texto-3 {
    padding: none;
  }
  .img-logo {
    display: none;
  }
  .izq {
    display: inline;
    padding-left: 0px;
    justify-content: start;
  }
  .im {
    width: 380px;
  }
  title {
    display: none;
  }
  #grid1 {
    display: grid;
    grid-template-areas: "tit1" "img1" "img2" "img3";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit1 {
    grid-area: tit1;
    justify-content: center;
    align-items: center;
  }
  .img1 {
    grid-area: img1;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img2 {
    grid-area: img2;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img3 {
    grid-area: img3;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  #grid2 {
    display: grid;
    grid-template-areas: "tit2" "img4" "img5";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit2 {
    grid-area: tit2;
    justify-content: center;
    align-items: center;
  }
  .img4 {
    grid-area: img4;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img5 {
    grid-area: img5;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  #grid3 {
    display: grid;
    grid-template-areas: "tit3" "img6" "img7" "img8";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit3 {
    grid-area: tit3;
    justify-content: center;
    align-items: center;
  }
  .img6 {
    grid-area: img6;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img7 {
    grid-area: img7;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img8 {
    grid-area: img8;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  #grid4 {
    display: grid;
    grid-template-areas: "tit4" "img9" "img10";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit4 {
    grid-area: tit4;
    justify-content: center;
    align-items: center;
  }
  .img9 {
    grid-area: img9;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img10 {
    grid-area: img10;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  #grid5 {
    display: grid;
    grid-template-areas: "tit5" "img11" "img12";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit5 {
    grid-area: tit5;
    justify-content: center;
    align-items: center;
  }
  .img11 {
    grid-area: img11;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img12 {
    grid-area: img12;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  #grid6 {
    display: grid;
    grid-template-areas: "tit6" "img13" "img14" "img15";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .tit6 {
    grid-area: tit6;
    justify-content: center;
    align-items: center;
  }
  .img13 {
    grid-area: img13;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img14 {
    grid-area: img14;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  .img15 {
    grid-area: img15;
    justify-self: center;
    align-items: center;
    width: 90%;
  }
  #gridshop1 {
    display: inline;
  }
  .maceta-1 {
    width: 90%;
  }
  .maceta-2 {
    width: 90%;
  }
  .maceta-3 {
    width: 90%;
  }
  #gridshop2 {
    display: inline;
  }
  .mueble-1 {
    width: 90%;
  }
  .mueble-2 {
    width: 90%;
  }
  .mueble-3 {
    width: 90%;
  }
  #gridshop3 {
    display: inline;
  }
  .decoracion-1 {
    width: 90%;
  }
  .decoracion-2 {
    width: 90%;
  }
  .decoracion-3 {
    width: 90%;
  }
  .tit-cui {
    justify-self: center;
  }
  .texto1 {
    width: 90%;
  }
  .texto2 {
    width: 90%;
    padding-top: 10px;
  }
  .texto3 {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/*# sourceMappingURL=estilos.css.map */
